{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false
  },
  "extends": ["standard", "standard-react"],
  "rules": {
    "generator-star-spacing": 0
  }
}
